:root {
    --color-primary : #f24822;
    --color-primary-variant : #ffc7bb;
    --color-black : #0a0a0c;
    --color-dark:#62656a;
    --color-white : #FFF;
    --color-light : rgba(255, 255, 255, 0.8);

    --width: 84;
}