section#contact .container {
    display: grid;
    grid-template-columns: 20rem auto;
    gap: 5rem;
}
section#contact aside {
    background-color: var(--color-primary);
    padding: 2rem;
    font-size: .9rem;
    color: var(--color-primary);
}
section#contact aside h4 {
    color: var(--color-black);
    font-size: 1.8rem;
    margin-bottom: .5rem;
    
}